*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	color: $color-dark;
	box-sizing: border-box;
	font-family: $font;
}

body {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.screen-reader-text {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.container {
	max-width: $width-container;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	align-items: center;
	margin-left: -$gutter-x;
	margin-right: -$gutter-x;
}

.col-6 {
	flex: 0 0 auto;
    width: 50%;
	padding-left: $gutter-x;
	padding-right: $gutter-x;
}
