$width-container: 1160px;
$gutter-x: 1.25rem;

$font: Arial, Helvetica, sans-serif;

$color-berry: #fcc5de;
$color-blue: #cbe7ff;
$color-dark: #222;
$color-green: #b6eecb;
$color-yellow: #ffe6a8;

$hero-title: 5.6rem;
$hero-desc: 1.5rem;
