.hero {
	text-align: center;
	padding-top: 9.75rem;
	padding-bottom: 9.75rem;

	h2,
	h3 {
		margin-top: 0;
		margin-bottom: 0;
	}

	h2 + h3 {
		margin-top: 1.75rem;
	}

	h2 {
		font-size: $hero-title;
		line-height: 1.1;
		letter-spacing: -.7px;
	}

	h3 {
		max-width: 730px;
		margin-left: auto;
		margin-right: auto;
		font-size: $hero-desc;
		font-weight: 400;
		line-height: 1.5;
	}
}
