.testimonial {
	display: none;
	padding-top: 6rem;
	padding-bottom: 6rem;

	&--state-active {
		display: block;
	}

	&--theme-{
		&green {
			background: $color-green;
		}

		&blue {
			background: $color-blue;
		}

		&yellow {
			background: $color-yellow;
		}

		&berry {
			background: $color-berry;
		}
	}
}

.testimonial__image-container {
	position: relative;
	height: 0;
	padding-bottom: 100%;

	&::after {
		content: "";
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
		background-image: url(../images/shape.svg);
		background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
	}
}

.testimonial__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	mask-image: url(../images/mask.svg);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-type: alpha;
}

.testimonial__content {
	padding: 2rem;
}

.testimonial__item {
	padding-left: 4rem;
	margin: 0;
	color: #2a3036;
}

.testimonial__quote {
	margin: 0;
	font-size: 3rem;
    font-weight: 700;
	line-height: 1;
}

.testimonial__byline {
	margin-top: 1rem;
    font-size: 1.25rem;
}

.testimonials-nav {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

	.container {
		position: relative;
		height: 100%;
	}
}

.testimonials-nav__buttons {
	position: absolute;
	right: 0;
    bottom: 6rem;
	display: flex;
}

.testimonials-nav__button {
	cursor: pointer;
	display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
	opacity: .2;
	transition: opacity .15s ease-in-out;

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: .6;
	}

	& + .testimonials-nav__button {
		margin-left: 1.5rem;
	}
}
